<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <link href='https://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
  <style media="screen">
    body {
      font-family: 'Sansita One', cursive;
    }
    a {
      font-size: 35px;
    }
    .jumbotron {
      background-color: white;
    }
  </style>
</head>
<div class="jumbotron center">
    <h1 class="text-center"><img class="img-rounded" width="50%" src="associateLogo.png" alt="logo" /></h1>
</div>
<ul class="list-group">
  <a href="/create" class="list-group-item text-center list-group-item-success">Create Word Chain</a>
  <a href="/select" class="list-group-item text-center list-group-item-success">Take a Challenge</a>
  <a href="/associations" class="list-group-item text-center list-group-item-success">View Associative Network</a>

</ul>
