body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
}

svg {
    margin: auto;
    display: block;
    /*width: 600px;*/
}

.node {
  fill: #3498db;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node:hover {
    cursor: pointer;
}

.focus {
    fill: #87D37C !important;
}

.link {
  stroke: #aaa;
  stroke-width: 14px;
}

.text {
    fill: #2c3e50;
    pointer-events:none;
}

.text:hover {
    cursor:pointer;
}

.non-hover:hover {
    cursor: default !important;
}

h3 {
    color: #1ABC9C;
    text-align:center;  
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}






